@{
    ViewData["Title"] = "Welcome to Showdown in Cyberspace";
}

<div class="text-center">
    <img src="code/image" alt="code" style="max-width: 100%;" />

    <p class="headline">Scan the code to start your journey!</p>
</div>
